<div class="app-grid">
    <div *ngFor="let o of offers$ | async" class="app-grid-item">
        <img [src]="o.candidate.employee.picture" />
        <div>
            {{ o.candidate.employee.name }}
        </div>
        <div class="offer-detail">
            <div>Offered:</div>
            <div>{{ o.offeredSalary }}</div>
        </div>
        <div class="offer-detail">
            <div>Expected:</div>
            <div>{{ o.candidate.salaryExpectation }}</div>
        </div>
        <div class="offer-detail">
            <div>Days in pending:</div>
            <div>{{ o.daysInQueue }}</div>
        </div>
        <div class="offer-detail">
            <div>Response in:</div>
            <div>{{ o.daysUntilResponse }}</div>
        </div>
        <div class="offer-detail">
            <div>Probability in:</div>
            <div>{{ o.chanceToAccept }}</div>
        </div>
    </div>
</div>

