/* You can add global styles to this file, and also import other style files */
:root {
    --clr-white: whitesmoke;
    --clr-black: #222;
    --clr-grey: grey;
    --clr-white: whitesmoke;
    --clr-darkBlue: darkblue;
    --clr-lightBlue: lightblue;
    --clr-opaqueBlue: #00009933;
}

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    margin: 0;
}

h2 {
    text-align: center;
}

button {
    background-color: var(--clr-white);
    color: var(--clr-black);

    border-radius: .2rem;
    width: 4rem;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background-color: var(--clr-black);
    color: var(--clr-white);
}

button.blue {
    background-color: var(--clr-lightBlue);
    border: .1rem ridge var(--clr-darkBlue);
}

button.blue:hover {
    background-color: var(--clr-darkBlue);
    color: var(--clr-white);
}

.app-grid {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, 14rem);
    gap: .5rem;
    grid-row-gap: 1rem;
    grid-auto-rows: 1fr;
    width: 90%;
    margin: auto;
}

.app-grid-item {
    border: .2rem ridge var(--clr-darkBlue);
    padding: 1rem;
    background-color: lightblue;
    display: flex;
    align-items: center;
    flex-flow: column;
    transition: .3s;
}

.app-grid-item:hover {
    box-shadow: .2rem .2rem .3rem var(--clr-darkBlue);
    /* transform: scale(1.05); */
}

.app-grid-item > img {
    width: 50%;
    background-color: white;
}