.candidate-detail {
    width: 100%;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex > span {
    position: relative;
    width: 50%;
}

.progress-bar {
    position: absolute;
    background-color: var(--clr-opaqueBlue);
}

button {
    width: fit-content;
}

.offer-dialog-body {
    width: 20rem;
    margin-top: 1rem;
}

.offer-dialog-body > * {
    margin-top: .5rem;
}

.offer-dialog-body > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.offer-input {
    width: 4rem;
}

.offer-dialog-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1rem;
}