section {
    display: flex;
    justify-content: space-between;
}

.employee-list {
    width: 100%;
}

.search-bar {
    display: flex;
    justify-content: center;
}

.search-bar > span {
    margin: 1rem;
}

.content-wrapper {
    margin: 2rem;
}

.app-grid-item {
    cursor: pointer;
}

percent-bar, .employee-detail {
    width: 100%;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex > div {
    width: 50%;
}


.text-center {
    text-align: center;
}