<div class="search-bar">
    <span>
        Name: <input #nameFilter type="text" (input)="onNameFilter(nameFilter.value)" />
    </span>
    <span>
        Project:
        <select #projectFilter (change)="onProjectFilter(projectFilter.value)">
            <option [value]="defaultProjectQuery.value" selected>
                {{ defaultProjectQuery.name }}
            </option>
            <option *ngFor="let p of projects$ | async" [value]="p.id">
                {{ p.name }}
            </option>
        </select>
    </span>
</div>

<section>
    <div class="employee-list">
        <div class="app-grid content-wrapper">
            <div *ngFor="let e of employees$ | async" class="app-grid-item" (click)="viewEmployeeDetails(e)">
                <img [src]="e.picture" />
                <div>
                    {{ e.name }}
                </div>
                <percent-bar name="Expertize" [val]="e.expertize"></percent-bar>
                <percent-bar name="Laziness" [val]="e.laziness"></percent-bar>
                <percent-bar name="Satisfaction" [val]="e.satisfaction"></percent-bar>
                <div class="employee-detail">
                    <div class="flex">
                        <div>Salary</div>
                        <div class="text-center">
                            {{ e.salary }}$
                        </div>
                    </div>
                </div>
                <div>
                    <button (click)="viewEmployeeDetails(e)" class="blue">Details</button>
                </div>
            </div>
        </div>
    </div>
</section>