<section *ngIf="employee">
    <div class="flex">
        <img [src]="employee.picture" />
        <hr />
        <div>
            <div class="header">Name</div>
            <div class="text-center">{{ employee.name }}</div>
        </div>
        <div>
            <div class="header">Expertize</div>
            <div class="text-center">{{ employee.expertize }}</div>
        </div>
        <div>
            <div class="header">Laziness</div>
            <div class="text-center">{{ employee.laziness }}</div>
        </div>
        <div>
            <div class="header">Satisfaction</div>
            <div class="text-center">{{ employee.satisfaction }}</div>
        </div>
    </div>

    <fieldset>
        <legend>Change</legend>
        <div class="fieldset-flex">
            <label>Reallocate: </label>
            <select #projectChange>
                <option
                    *ngFor="let p of projects"
                    [value]="p.id"
                    [selected]="p.id === employee.projectId">
                    {{ p.name }}
                </option>
            </select>
        </div>
        <div class="fieldset-flex">
            <label>Salary:</label>
            <input #salary type="number" [value]="employee.salary" />
        </div>
        <button (click)="editEmployee(projectChange.value, salary.value)">Change</button>
    </fieldset>

    <fieldset>
        <legend>Stats</legend>
        <h3>Global</h3>
        <div class="fieldset-flex">
            <label>Total work done:</label>
            <div>{{ totalWork }}</div>
        </div>
        <div class="fieldset-flex">
            <h3>Per project</h3>
            <select #projectStats (change)="onProjectStatsChange(projectStats.value)">
                <option
                    *ngFor="let p of projects"
                    [value]="p.id"
                    [selected]="p.id === employee.projectId">
                    {{ p.name }}
                </option>
            </select>
        </div>
        <div class="fieldset-flex">
            <label>Work done:</label>
            <div>{{ projectWork }}</div>
        </div>
    </fieldset>
</section>
