<div>
    <span>
        <button (click)="toggleTimeFlow(true)">
            &#9654;
        </button>
        <button (click)="toggleTimeFlow(false)">
            &#9724;
        </button>
    </span>

    <label>
        <span>
            Day in seconds {{ dayLength$ | async }}
        </span>

        <input #dayDuration type="range" min="200" max="2000" value="dayLength$ | async"
            (change)="changeDayDuration(dayDuration.value)" />
    </label>
    <input type="date" [valueAsDate]="currentDate$ | async" />
</div>