<header [ngClass]="timeRunning ? 'blue' : 'grey'">
    <h1>Company Manager</h1>
    <span>
        budget: {{ (company$ | async).budget }}$
    </span>
    <span>
        <span>
            <button class="time-btn" (click)="toggleTimeFlow(true)">
                &#9654;
            </button>
            <button class="time-btn" (click)="toggleTimeFlow(false)">
                &#9724;
            </button>
        </span>
    
        <label>
            <span>
                Day in seconds {{ dayLength$ | async }}
            </span>
    
            <input #dayDuration type="range" min="200" max="2000" value="dayLength$ | async"
                (change)="changeDayDuration(dayDuration.value)" />
        </label>
        <input type="date" [valueAsDate]="currentDate$ | async" />
    </span>
</header>