header {
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > * {
    margin-right: .2rem;
}

.blue {
    background-color: var(--clr-darkBlue);
    color: var(--clr-white);
}

.grey {
    background-color: var(--clr-grey);
    color: var(--clr-black);
}

.time-btn {
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    transition: .3s;
}

.time-btn:hover {
    background-color: ;
}

label > span {
    /* width: 3rem; */
    min-width: 7rem;
}

input[type="date"] {
    pointer-events: none;
}