.container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.container > section {
    display: block;
    width: 40%;
}

.app-grid-item {
    margin-top: 1rem;
}

h3 {
    text-align: center;
}

table {
    width: 100%;
}

button {
    width: fit-content;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}