h2 {
    margin: 1rem;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

nav > a {
    padding: .2rem;
    border-radius: .2rem;
    font-size: 1.2rem;
    cursor: pointer;
    margin-bottom: 1rem 0rem;
    transition: .3s;
}

nav > a:hover {
    background-color: var(--clr-darkBlue);
    color: var(--clr-white);
}